--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    "isModerator" boolean NOT NULL
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Account_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Account_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Account_id_seq" OWNER TO postgres;

--
-- Name: Account_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Account_id_seq" OWNED BY public."Account".id;


--
-- Name: HasTag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."HasTag" (
    "promptId" integer NOT NULL,
    "tagId" text NOT NULL
);


ALTER TABLE public."HasTag" OWNER TO postgres;

--
-- Name: LLM; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LLM" (
    "llmName" text NOT NULL
);


ALTER TABLE public."LLM" OWNER TO postgres;

--
-- Name: Prompt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Prompt" (
    id integer NOT NULL,
    prompt text NOT NULL,
    response text NOT NULL,
    image text NOT NULL,
    rating double precision NOT NULL,
    approved boolean NOT NULL,
    "llmName" text NOT NULL,
    "createdAt" timestamp(3) without time zone NOT NULL,
    summary text NOT NULL,
    title character varying(50) NOT NULL
);


ALTER TABLE public."Prompt" OWNER TO postgres;

--
-- Name: Prompt_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Prompt_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Prompt_id_seq" OWNER TO postgres;

--
-- Name: Prompt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Prompt_id_seq" OWNED BY public."Prompt".id;


--
-- Name: Tag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Tag" (
    name text NOT NULL
);


ALTER TABLE public."Tag" OWNER TO postgres;

--
-- Name: Account id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account" ALTER COLUMN id SET DEFAULT nextval('public."Account_id_seq"'::regclass);


--
-- Name: Prompt id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Prompt" ALTER COLUMN id SET DEFAULT nextval('public."Prompt_id_seq"'::regclass);


--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, username, password, "isModerator") FROM stdin;
1	admin	$argon2id$v=19$m=65536,t=3,p=4$c7LTd9Fd4N4/i1Ojjg6jLQ$lGMJLYm3Z5JQ7Fl5mINBVL1g/SvQ4iiBkkN9VqovnmE	t
\.


--
-- Data for Name: HasTag; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."HasTag" ("promptId", "tagId") FROM stdin;
20	Git
20	code
20	version_control
22	writing
22	emoji
22	encoding
22	visual_interest
23	languages
24	code
24	python
24	efficiency
24	optimization
24	optimize
24	performance
25	code
25	latex
25	writing
\.


--
-- Data for Name: LLM; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LLM" ("llmName") FROM stdin;
ChatGPT
Bard
CoPilot
\.


--
-- Data for Name: Prompt; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Tag; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Tag" (name) FROM stdin;
technology
science
history
art
literature
code
education
website
html
wordplay
junk
Git
version control
writing
latex
visual interest
encoding
emoji
performance
optimize
optimization
efficiency
python
languages
version_control
visual_interest
\.


--
-- Name: Account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Account_id_seq"', 1, false);


--
-- Name: Prompt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Prompt_id_seq"', 25, true);


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: HasTag HasTag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HasTag"
    ADD CONSTRAINT "HasTag_pkey" PRIMARY KEY ("promptId", "tagId");


--
-- Name: LLM LLM_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LLM"
    ADD CONSTRAINT "LLM_pkey" PRIMARY KEY ("llmName");


--
-- Name: Prompt Prompt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Prompt"
    ADD CONSTRAINT "Prompt_pkey" PRIMARY KEY (id);


--
-- Name: Tag Tag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Tag"
    ADD CONSTRAINT "Tag_pkey" PRIMARY KEY (name);


--
-- Name: Account_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_username_key" ON public."Account" USING btree (username);


--
-- Name: HasTag HasTag_promptId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HasTag"
    ADD CONSTRAINT "HasTag_promptId_fkey" FOREIGN KEY ("promptId") REFERENCES public."Prompt"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: HasTag HasTag_tagId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HasTag"
    ADD CONSTRAINT "HasTag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES public."Tag"(name) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Prompt Prompt_llmName_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Prompt"
    ADD CONSTRAINT "Prompt_llmName_fkey" FOREIGN KEY ("llmName") REFERENCES public."LLM"("llmName") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

